.marquee-wrap {
	overflow: auto;
	height: 150px;
	border: 1px solid #000;
	padding: 10px;
	font-size: 18px;
	line-height: 1.6;
}

h1,
h3 {
	text-align: center;
}

h3 {
	color: red;
}


p {
	padding: 0px 20px;
}

em {
	color: blue
}

strong {
	color: red;
}

.fa-solid.fa-laugh {
	font-size: 24px;
	color: crimson;
}

.fab.fa-whatsapp {
	font-size: 34px;
	color: green;
}

.fas.fa-phone {
	font-size: 34px;
	color: red;
}

.phone {
	text-align: center;
	font-size: 34px;
}

.call {
	text-align: center;
	color: crimson;
	border: blue double;

}

/* increase duration to speed up scroll */
.marquee {
	animation: scrollUp 20s linear 1s infinite;
}

@supports (transform:translate3d(0px, 0px, 0px)) {
	.marquee-wrap {
		overflow: hidden;
	}

	.marquee {
		padding-top: 160px;
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.marquee-wrap {
		overflow: hidden;
	}

	/* ie11 hack */
	.marquee {
		padding-top: 160px;
	}
}

@keyframes scrollUp {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(-100%);
	}
}

.marquee:hover {
	animation-play-state: paused
}